$body-bg: #A1D3C5;
$body-color: #003F2E;
$theme-colors: (
  "primary": #007555,
  "danger": #ff4136

);


@import "~bootstrap/scss/bootstrap";

.card {
    max-width: 200px;
}

.cardbody {
    padding: 10px;
}

.longbox {
    min-width: 600px;
}

.nickname:hover {
    background-color: yellow;
}